/*
* @Author: hp
* @Date:   2018-08-15 15:43:33
* @Last Modified by:   hp
* @Last Modified time: 2018-08-15 16:10:22
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
.top{
	width: 100%;
	height: 13.34rem;
	background-image: url('../img/交易成功.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.top .text{
	font-size: 0.2rem;
	position: absolute;
	margin-top: 6.6rem;
	margin-left: 3.3rem;
	color:  #fcc761;
}
.top a{
	width: 2rem;
	height: 0.6rem;
	position: absolute;
	display: block;
	margin-top: 11.8rem;
	margin-left: 1.1rem;
}
.top a:nth-child(2){
	width: 2rem;
	height: 0.6rem;
	display: block;
	position: absolute;
	margin-left: 4.7rem;
	margin-top: 11.8rem;
}